[user]
	name = Jordi Bertran de Balanda
	email = jordi.bertran@scality.com
[core]
	excludesfile = /home/jbertran/.gitignore-global
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	wt = worktree
	rl = reflog --pretty=reflog
	lg = log --graph
	reflog = reflog --pretty=reflog
[push]
	default = simple
[pretty]
	# reflog with date.
	reflog = %C(auto)%h %<|(17)%gd %C(blue)%cI%C(reset) %gs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	fetchexclude = 3rdparty/packages,3rdparty/yarn,buildenv/data,buildenv/docker,buildchain/layers/repository,setup/s3/archives
	required = true
[color]
	ui = true
	diff = true
