[user]
	name = Jordi Bertran de Balanda
	email = jordi.bertran@scality.com
	
[core]
	excludesfile = /home/jbertran/.gitignore-global
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	fetchexclude = 3rdparty/packages,3rdparty/yarn,buildenv/data,buildenv/docker,buildchain/layers/repository,setup/s3/archives
[color]
	ui = auto
